{{> header}}

<section class="bg-gray layout-f-ccc">
  <h1><strong>404 Not Found</strong></h1>
  <p class="text-center">
    the page you are trying to fetch doesn't exist, <a href="/">go to home</a>.
  </p>
</section>


<hr />
{{> footer}}