{{> header}}

<section class="bg-gray layout-f-ccc">
  <h1><strong>Contact</strong></h1>
  <p class="text-center">
    you can get in touch through my email
    <a class="a"href="#">karam.99n@gmail.com</a>
    Wanna to hire me? check my freelancing profile or my linkedIn in
    <ul class="social list-inline">
      <li>
        <a target="_blank" href="https://twitter.com/karam_99n">
          <img src="./img/socialMedia/twitter.svg" alt="twitter" />
        </a>
      </li>
      <li>
        <a
          target="_blank"
          href="https://www.linkedin.com/in/karam-barakat-25aba9219/"
        >
          <img src="./img/socialMedia/linkedIn.svg" alt="linkedIn" />
        </a>
      </li>
      <li>
        <a target="_blank" href="https://github.com/karambarakat">
          <img src="./img/socialMedia/github.svg" alt="github" />
        </a>
      </li>
    </ul>
  </p>
   
</section>
<section class="form">
  <h2><strong>Get In Touch</strong></h2>
  <form>
    <div class="input-group">
      <input type="text" name="name" id="name" placeholder="Name">
      <input type="email" name="email" id="email" placeholder="Email">
    </div>
    <textarea name="message" id="message" cols="30" rows="10" placeholder="Enter you message"></textarea>
    <button>Send Now <i class="bi bi-arrow-right-circle"></i> </button>
  </form>
</section>
<hr />

{{> footer}}