{{> header}}

<section class="bg-gray layout-f-ccc">
  <h1><strong>Portfolio</strong></h1>
  <p class="text-center">
    I have build small and big project, you can check both the code and
    the live preview for each as well as a brief description
  </p>
  <button class="btn s-btn-1">
    <i class="bi bi-laptop"></i> Hire Me
  </button>
</section>
{{> projects}}
<hr />
<p>h</p>
{{> footer}}