@use 'utils';
.card{
  display: grid;
  grid-template-areas: 'img'
                        'content';
  // grid-template-columns: auto;
  @include utils.media(xl){
    grid-template-areas: 'img content';
    grid-template-columns: 50% 50%;
  }
  @include utils.media(xxl){
    grid-template-areas: 'img content';
    grid-template-columns: 30% 70%;
  }
  
  background-color: rgba(202, 202, 202, 0.433);
  .card-img{
    grid-area: img;
    margin: auto 0;
    @include utils.media(md){
      margin: 0 0
    }
    overflow: hidden;
    img{
      margin-bottom: -20%;
      @include utils.media(xl){
        margin: auto auto
      }
    }
  }
  .card-content{
    grid-area: content;
    @include utils.spacing('m', 4)
  }
  
}

.card-hover{
  position: relative;

  .card-overlay{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;    
    opacity: 0;
    transition: opacity 0.2s ease-in;

    display: flex;
    &>*{
      margin: auto
    }
  };

  &:hover{
    .card-overlay{
      opacity: 1;
      background-color: rgba(55, 55, 55, 0.603);
    }
  }
}
