@use "vars";
@use "utils";
@use 'sass:list';

@use 'layouts';
@use 'typo';
@use 'init';
@use "btn";
@use 'spacing';
@use 'lists';
@use 'card';


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img{
  width: 100%;
}

h2.indent{
  @include utils.spacing('p', $e: 2);
  border-left: 10px solid vars.$primary;
}

aside{
  background-color: vars.$primary;
  color: rgba(255, 255, 255, 0.9);
  h2{
    color: rgba(255, 255, 255, 0.9);
  }
  p{
    color: rgba(255, 255, 255, 0.9);
  }
  justify-content: flex-start !important;
  @include utils.spacing('p', $allside: 2);
  nav{ 
    text-align: center;
    @include utils.spacing('p', $y: 4);
    &>*{
      @include utils.spacing('m', $y: 2);
    }
  }
  ul{
    a{
      color: rgba(255, 255, 255, 0.9);
      &active{
        color: rgba(0, 0, 0, 0.5);
      }
      &:hover{
        color: rgba(0, 0, 0, 0.6);
      }
      &:focus{
        
        color: rgba(0, 0, 0, 0.75);
      }
    }
  }
}


.aboutme{
  background-color: rgb(237, 237, 237);
  @include utils.spacing('p', $allside: 5);
}

.skills{
  @include utils.spacing('p', $allside: 5);
}

.projects{
  @include utils.spacing('p', $allside: 5);
}





