@use "utils";
hr{
  height: 1px;
  width: 100%;
  border-radius: 1px;
  @include utils.spacing('m', $y:4);
  border: none;
  background-color: rgba(58, 58, 58, 0.459);
  &.inverse{
    @include utils.spacing('m', $y:2);
    background-color: rgba(228, 228, 228, 0.459);
  }
}