@use "vars";
@use "utils";
@use 'sass:list';


.layout-f-ccc{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

// layouts
.layout-main{
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto auto;

  

  @include utils.media(lg){
    grid-template-columns: 270px auto;
    grid-template-rows: 100vh auto;
    
  }
}

main{
  height: 100vh;
  overflow: visible;

  &>section{
    @include utils.spacing('p', $allside: 5);
  }
  
  @include utils.media(lg){
    overflow: scroll;
    overflow-x: hidden;
  }
}
body{
  overflow: scroll;
  overflow-x: hidden;
  @include utils.media(lg){
    overflow: hidden;
  }
}

.layout-sides{
  @extend .layout-f-ccc;
  height: 64px;
  width: 100%;
  position: relative;

  .layout-sides-left{
    position: absolute;
    left: calc(#{list.nth(vars.$spaces, 5)} - #{list.nth(vars.$spaces, 3)});
    @include utils.media(lg){
      display: none;
    }
  }
}

.layout-hero {
  display: grid;
  grid-template-columns: auto;

  &>:first-child{
    @include utils.spacing('m', $b:4);
  }

  &>:last-child{
    width: 100%;
  }

  @include utils.media(md){
    &>:last-child{
      width: 360px;
    }
  }

  @include utils.media(lg){
    grid-template-columns: auto 290px;
    &>:first-child{
      @include utils.spacing('m', $r:4);
    }
    &>:last-child{
      width: 290px;
    }
  }

  @include utils.media(xl){
    grid-template-columns: auto 400px;

    &>:last-child{
      width: 400px;
    }
  }
}

.layout-skills {
  display: grid;
  grid-gap: 30px;
  @include utils.spacing('m', $t:5);
  grid-template-columns: 1fr 1fr;
  @include utils.media(md){
    grid-template-columns: 1fr 1fr 1fr;
  }
  @include utils.media(lg){
    grid-template-columns:1fr 1fr 1fr 1fr;
  }
  p{
    margin-bottom: 0;
  }
  li{
    list-style: none;
    &::before{
      content: '•';
      color: rgb(67, 67, 67);
    }
  }
}

.layout-cards-projects {
  display: grid;
  grid-gap: 30px;
  @include utils.spacing('m', $t:5, $b: 4);
  grid-template-columns: 1fr;
  @include utils.media(md){
    grid-template-columns: 1fr 1fr;
  }
  
}