@use "vars";
@use "utils";
@use 'sass:list';

.list-inline{
  list-style: none;

  li{
    display: inline-block;
    &:not(:last-child){
      padding-right: 8px;
    }

    img{
      width: 28px;
      height: 28px;
      transition: opacity 0.3s ease-in;
      &:hover{
        opacity: 0.8;
      } 
    }
  }
}

ul.lint-nav{
  list-style: none;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 400;
  @include utils.media(lg){
    text-align: left;
  }

  li{
    @include utils.spacing('p', $allside: 2);
  }

  a{
    text-decoration: none;
  }
}