@use "vars";
@use "utils";
@use 'sass:list';

body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  @include utils.spacing("m", $b: 1);
  font-weight: 500;
  line-height: 1.5;
}

h1 {
  font-size: calc(1.4rem + 1vw);
  @include utils.spacing("m", $b: 3);
  
}

h2 {
  font-size: calc(1.38rem + 0.5vw);
  @include utils.spacing("m", $b: 3);
}

h3 {
  font-size: calc(1.35rem + 0.2vw);
  @include utils.spacing("m", $b: 2);
}

h4 {
  font-size: calc(1.32rem);
}

h5 {
  font-size: 1.3rem;
}

h6 {
  font-size: 1.1rem;
}

.lead {
  font-size: 1.25rem;
  font-weight: 300;
}

p {
  margin-bottom: 1.1rem;
}

.text-center{
  text-align: center;
}