.layout-f-ccc, .layout-sides {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.layout-main {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto auto;
}
@media (min-width: 992px) {
  .layout-main {
    grid-template-columns: 270px auto;
    grid-template-rows: 100vh auto;
  }
}

main {
  height: 100vh;
  overflow: visible;
}
@media (min-width: 992px) {
  main {
    overflow: scroll;
    overflow-x: hidden;
  }
}

body {
  overflow: scroll;
  overflow-x: hidden;
}
@media (min-width: 992px) {
  body {
    overflow: hidden;
  }
}

.layout-sides {
  height: 64px;
  width: 100%;
  position: relative;
}
.layout-sides .layout-sides-left {
  position: absolute;
  left: calc(3rem - 1rem);
}
@media (min-width: 992px) {
  .layout-sides .layout-sides-left {
    display: none;
  }
}

.layout-hero {
  display: grid;
  grid-template-columns: auto;
}
.layout-hero > :first-child {
  margin-bottom: 1.5rem;
}
.layout-hero > :last-child {
  width: 100%;
}
@media (min-width: 768px) {
  .layout-hero > :last-child {
    width: 360px;
  }
}
@media (min-width: 992px) {
  .layout-hero {
    grid-template-columns: auto 290px;
  }
  .layout-hero > :first-child {
    margin-right: 1.5rem;
  }
  .layout-hero > :last-child {
    width: 290px;
  }
}
@media (min-width: 1200px) {
  .layout-hero {
    grid-template-columns: auto 400px;
  }
  .layout-hero > :last-child {
    width: 400px;
  }
}

.layout-skills {
  display: grid;
  grid-gap: 30px;
  margin-top: 3rem;
  grid-template-columns: 1fr 1fr;
}
@media (min-width: 768px) {
  .layout-skills {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (min-width: 992px) {
  .layout-skills {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.layout-cards-projects {
  display: grid;
  grid-gap: 30px;
  margin-top: 3rem;
  margin-bottom: 1.5rem;
  grid-template-columns: 1fr;
}
@media (min-width: 768px) {
  .layout-cards-projects {
    grid-template-columns: 1fr 1fr;
  }
}

body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.25rem;
  font-weight: 500;
  line-height: 1.5;
}

h1 {
  font-size: calc(1.4rem + 1.5vw);
  margin-bottom: 1rem;
}

h2 {
  font-size: calc(1.38rem + 0.9vw);
  margin-bottom: 1rem;
}

h3 {
  font-size: calc(1.35rem + 0.6vw);
  margin-bottom: 0.5rem;
}

h4 {
  font-size: calc(1.3.2rem + 0.3vw);
}

h5 {
  font-size: 1.3rem;
}

h6 {
  font-size: 1.1rem;
}

.lead {
  font-size: 1.25rem;
  font-weight: 300;
}

p {
  margin-bottom: 1.1rem;
}

hr {
  height: 1px;
  width: 100%;
  border-radius: 1px;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  border: none;
  background-color: rgba(58, 58, 58, 0.459);
}
hr.inverse {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  background-color: rgba(228, 228, 228, 0.459);
}

.btn, button {
  padding: 0.5rem;
  border-radius: 0.25rem;
  font-size: 1.1rem;
  font-weight: 400;
}
.btn.btn-primary, .btn, button {
  background-color: #367fa1;
  color: white;
  border: 2px solid #367fa1;
}
.btn.btn-primary:hover, .btn:hover, button:hover {
  background-color: #2c6782;
}
.btn.btn-primary:active, .btn:active, button:active {
  background-color: #275b73;
}
.btn.btn-primary:focus, .btn:focus, button:focus {
  background-color: #235268;
  border: 2px solid #235268;
  box-shadow: 0 0 0 0.25rem rgba(54, 127, 161, 0.25);
}

.btn, button {
  padding: 0.5rem;
  border-radius: 0.25rem;
  font-size: 1.1rem;
  font-weight: 400;
}
.btn.btn-secondary, button.btn-secondary {
  background-color: #3d3d3d;
  color: white;
  border: 2px solid #3d3d3d;
}
.btn.btn-secondary:hover, button.btn-secondary:hover {
  background-color: #292929;
}
.btn.btn-secondary:active, button.btn-secondary:active {
  background-color: #1e1e1e;
}
.btn.btn-secondary:focus, button.btn-secondary:focus {
  background-color: #171717;
  border: 2px solid #171717;
  box-shadow: 0 0 0 0.25rem rgba(61, 61, 61, 0.25);
}

.s-btn-1 {
  margin-right: 0.5rem;
}

.s-btn-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.s-auto {
  margin: auto;
}

.list-inline {
  list-style: none;
}
.list-inline li {
  display: inline-block;
}
.list-inline li:not(:last-child) {
  padding-right: 8px;
}
.list-inline li img {
  width: 28px;
  height: 28px;
  transition: opacity 0.3s ease-in;
}
.list-inline li img:hover {
  opacity: 0.8;
}

ul.lint-nav {
  list-style: none;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 400;
}
@media (min-width: 992px) {
  ul.lint-nav {
    text-align: left;
  }
}
ul.lint-nav li {
  padding: 0.5rem;
}
ul.lint-nav a {
  text-decoration: none;
}

.card {
  display: grid;
  grid-template-areas: "img" "content";
  background-color: rgba(202, 202, 202, 0.433);
}
@media (min-width: 1200px) {
  .card {
    grid-template-areas: "img content";
    grid-template-columns: 50% 50%;
  }
}
@media (min-width: 1440px) {
  .card {
    grid-template-areas: "img content";
    grid-template-columns: 30% 70%;
  }
}
.card .card-img {
  grid-area: img;
  margin: auto 0;
  overflow: hidden;
}
@media (min-width: 768px) {
  .card .card-img {
    margin: 0 0;
  }
}
.card .card-img img {
  margin: -20% auto;
}
@media (min-width: 1200px) {
  .card .card-img img {
    margin: auto auto;
  }
}
.card .card-content {
  grid-area: content;
  margin: 1.5rem;
}

.card-hover {
  position: relative;
}
.card-hover .card-overlay {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.2s ease-in;
  display: flex;
}
.card-hover .card-overlay > * {
  margin: auto;
}
.card-hover:hover .card-overlay {
  opacity: 1;
  background-color: rgba(55, 55, 55, 0.603);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
}

h2.indent {
  padding-left: 0.5rem;
  border-left: 10px solid #367fa1;
}

aside {
  background-color: #367fa1;
  color: rgba(255, 255, 255, 0.9);
  justify-content: flex-start !important;
  padding: 0.5rem;
}
aside h2 {
  color: rgba(255, 255, 255, 0.9);
}
aside p {
  color: rgba(255, 255, 255, 0.9);
}
aside nav {
  text-align: center;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
aside nav > * {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
aside ul a {
  color: rgba(255, 255, 255, 0.9);
}
aside ul aactive {
  color: rgba(0, 0, 0, 0.5);
}
aside ul a:hover {
  color: rgba(0, 0, 0, 0.6);
}
aside ul a:focus {
  color: rgba(0, 0, 0, 0.75);
}

.aboutme {
  background-color: #ededed;
  padding: 3rem;
}

.skills {
  padding: 3rem;
}

.projects {
  padding: 3rem;
}

/*# sourceMappingURL=index.css.map */
