<section class="projects">
  <h2 class="indent">Featured Projects</h2>
  <p>
    I have build small and big project, you can check both the code and
    the live preview for each as well as a brief description
  </p>
  <div class="layout-cards-projects">
    <div class="card card-hover">
      <div class="card-img">
        <img
          src="img/projects/MoneyTracker_screenshot_0Main.png"
          alt="Project Money Tracker"
        />
      </div>
      <div class="card-content">
        <h3>Money Tracker Full Stack</h3>
        <p>
          this app is a easy-to-use wallet list that helps you keep
          track all your expenses, view charts and make budgets.
        </p>
      </div>
      <div class="card-overlay">
        <button class="btn" onclick="windo">
          <a
            href="https://react-app-money.herokuapp.com/"
            target="_blank"
            style="text-decoration: none; color: inherit"
          >
            <i class="bi bi-eye-fill"></i> View Live
          </a>
        </button>
      </div>
    </div>
    <div class="card card-hover">
      <div class="card-img">
        <img
          src="img/projects/FirmLanding_cover.png"
          alt="Project Money Tracker"
        />
      </div>
      <div class="card-content">
        <h3>MaterialCSS and costume SASS</h3>
        <p>
          this is a landing page designed to be minimalist and modern
          this has been built with - HTML, CSS and Javascript - Material
          CSS - Customized SASS
        </p>
      </div>
      <div class="card-overlay">
        <button class="btn">
          <a
            href="https://landingpage-firm.herokuapp.com/"
            target="_blank"
            style="text-decoration: none; color: inherit"
          >
            <i class="bi bi-eye-fill"></i> View Live
          </a>
        </button>
      </div>
    </div>
    <div class="card card-hover">
      <div class="card-img">
        <img
          src="img/projects/PresentBrand_tablet.png"
          alt="Project Money Tracker"
        />
      </div>
      <div class="card-content">
        <h3>Bootstrap Landing Page</h3>
        <p>
          this is a landing page designed to be minimalist and modern
          this has been built with - HTML, CSS and Javascript -
          Bootstrap CSS - Customized SASS
        </p>
      </div>
      <div class="card-overlay">
        <button class="btn">
          <a
            href="https://landing-present.herokuapp.com/"
            target="_blank"
            style="text-decoration: none; color: inherit"
          >
            <i class="bi bi-eye-fill"></i> View Live
          </a>
        </button>
      </div>
    </div>
    <div class="card card-hover">
      <div class="card-img">
        <img
          src="img/projects/StartPage_tablet.png"
          alt="Project Money Tracker"
        />
      </div>
      <div class="card-content">
        <h3>Portfolio Welcoming Page</h3>
        <p>
          Moder and simple landing page built with HTML, CSS and JS. and
          customized by Sass and jQuery
        </p>
      </div>
      <div class="card-overlay">
        <button class="btn">
          <a
            href="https://landing-page-starting.herokuapp.com/"
            target="_blank"
            style="text-decoration: none; color: inherit"
          >
            <i class="bi bi-eye-fill"></i> View Live
          </a>
        </button>
      </div>
    </div>    <div class="card card-hover">
      <div class="card-img">
        <img
          src="img/projects/MyBook_tablet.png"
          alt="Project Money Tracker"
        />
      </div>
      <div class="card-content">
        <h3>Introduction to a Book Page</h3>
        <p>
          this is a landing page designed to be minimalist and modern
          this has been built with - HTML, CSS and Javascript -
          Bootstrap CSS - Customized SASS
        </p>
      </div>
      <div class="card-overlay">
        <button class="btn">
          <a
            href="https://landing-page-my-book.herokuapp.com/"
            target="_blank"
            style="text-decoration: none; color: inherit"
          >
            <i class="bi bi-eye-fill"></i> View Live
          </a>
        </button>
      </div>
    </div>
  </div>
</section>